* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}
h1{
    text-size-adjust: bolder;
    color: crimson;
    font-size:55px;
}

.header {
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-fullview.jpg);
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background: rgba(0, 0, 0, 0.5);
}

.name {
  width: 10px;
  height: 10px;
}

.language-btn, .sign-in-btn {
  background: red;
  border: none;
  color: white;
  padding: 8px 15px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  
}

.header-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  text-align: center;
  max-width: 700px;
  padding: 0 20px;
}

.header-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.header-content h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.header-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.email-signup input {
  padding: 12px;
  width: 60%;
  max-width: 400px;
  border: none;
  border-radius: 2px;
  margin-right: 10px;
}

.email-signup button {
  padding: 12px 20px;
  background: red;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 2px;
  cursor: pointer;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
}



.title {
  font-size: 2rem;
  margin: 30px 30px 20px;
  padding-top: 10px;
}

.trending-area {
  background-color: black;
  padding: 20px;
  text-align: center;
  
}



.title{
  position: absolute;
  justify-content: left;
  gap: 10px;
  flex-wrap: wrap;
  
}

.image-center {
  text-align: center;
  object-fit:cover;
   gap: 50px; 
  padding: 100px;
  
}
.container {
  padding: 50px;
  max-width: 1200px;
  margin: auto;
  text-align: left;
}

h2 {
      font-size: 28px;
      margin-bottom: 30px;
}

.card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
}
.card {
      background: linear-gradient(to bottom right, #0f0f3a, #1a0e1c);
      border-radius: 10px;
      padding: 20px;
      flex: 1;
      min-width: 250px;
      max-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 250px;
      box-shadow: 0 0 10px #111;
}
.card h3 {
      font-size: 20px;
      margin-bottom: 10px;
}

.card p {
      font-size: 15px;
      color: #ccc;
      flex-grow: 1;
}
.card img {
      width: 40px;
      height: 40px;
      align-self: flex-end;
      margin-top: 10px;
}



body {
      background-color: #000;
      font-family: Arial, sans-serif;
      color: #fff;
      padding: 40px;
}

    .faq-container {
      max-width: 800px;
      margin: 0 auto;
}

    .faq-title {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 0px;
      justify-content: left;
      text-align: left;
      padding-top: 50px;
}

 .faq-item {
      background-color: #2d2d2d;
      margin: 10px 0;
      padding: 20px;
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s ease;
}

.faq-item:hover {
      background-color: #3d3d3d;
}
.plus-icon {
      font-size: 30px;
      color: #fff;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #999;
}

.email-section {
  text-align: center;
  padding: 40px 20px 20px;
}

.email-section p {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}

.email-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.email-form input {
  padding: 12px;
  width: 300px;
  background: #1e1e1e;
  border: none;
  color: white;
  font-size: 16px;
}

.email-form button {
  padding: 12px 24px;
  background-color: #e50914;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.netflix-bottom {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}

.phone {
  margin-bottom: 20px;
  font-size: 15px;
}

.links-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links-grid ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  width: 200px;
}

.links-grid a {
  color: #999;
  text-decoration: none;
  font-size: 14px;
}

.links-grid li {
  margin: 10px 0;
}

.links-grid a:hover {
  text-decoration: underline;
}

.lang-button {
  margin-top: 20px;
  padding: 8px 14px;
  border: 1px solid #999;
  color: white;
  font-size: 14px;
  display: inline-block;
  width: fit-content;
}

.region {
  margin-top: 20px;
  font-size: 14px;
}

.note {
  font-size: 12px;
  margin-top: 20px;
}

.note a {
  color: #999;
  text-decoration: underline;
}


 






