.box{
    background-color:#fce354 ;
    margin: 40px;
    text-align: center;
    border-radius: 10px;
    height: 470px;
    padding-top: 100px;
}
.heading-1{
    font-size:45px;
}
.btn{
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px ;
    padding-bottom:  10px; 
    font-size: 20px;
    font-weight:bolder;
    border-radius: 30px;
}
.box1{
    background-color: #3cf; ;
    margin: 40px;
    text-align: center;
    border-radius: 10px;
    height: 470px;
    padding-top: 100px;
}
.btn1{
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px ;
    padding-bottom:  10px; 
    font-size: 20px;
    font-weight:bolder;
    border-radius: 30px;
}
.btn2{
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px ;
    padding-bottom:  10px; 
    font-size: 20px;
    font-weight:bolder;
    border-radius: 30px;

}
.box2{
    background-color: rgb(255, 170, 51); ;
    margin: 40px;
    text-align:left;
    border-radius: 10px;
    height: 470px;
    padding-top: 100px;
}
.btn{
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px ;
    padding-bottom:  10px; 
    font-size: 20px;
    font-weight:bolder;
    border-radius: 30px;
}
.box3{
    background-color: rgb(67, 222, 67) ;
    margin: 40px;
    text-align:left;
    border-radius: 10px;
    height: 470px;
    padding-top: 100px;
}
